---
Checks           : '-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,misc-*,modernize-*,-modernize-use-trailing-return-type,performance-*,portability-*,readability-*'
HeaderFilterRegex: 'multiverse/modules/((.*\.hpp)|(ipp/.*\.ipp))$'
CheckOptions:
  - key  : misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
...
